@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #00478f, #31618d, #020000);
  background: url(../img/bg.jpg);
  font-family: "Poppins", sans-serif;
  font-style: italic; }
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  body * {
    z-index: 6; }
  body .container {
    background-color: #eee;
    width: 550px;
    padding: 0;
    border-radius: 12px; }
    body .container .card {
      box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
      text-align: center; }
      body .container .card #music-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease; }
        body .container .card #music-details .title {
          padding: 10px 0;
          margin: 0;
          font-family: "Pacifico", cursive;
          font-weight: 500;
          font-style: italic;
          font-size: 18px; }
        body .container .card #music-details .singer {
          font-size: 18px;
          font-weight: 500;
          margin: 10px 0px; }
      body .container .card img {
        max-height: 308px; }
      body .container .card .card-body {
        text-align: center; }
        body .container .card .card-body .times {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          body .container .card .card-body .times span {
            background-image: linear-gradient(to right, #00478f, #31618d, #021527);
            color: #eee; }
        body .container .card .card-body #controls .btn {
          padding: 1rem;
          color: #2980b9;
          transition: all 0.3s ease; }
          body .container .card .card-body #controls .btn i {
            font-size: 22px;
            color: #0f3460; }
          body .container .card .card-body #controls .btn #play-icon {
            transition: all 0.2s ease;
            font-size: 35px; }
            body .container .card .card-body #controls .btn #play-icon:hover {
              color: #00478f;
              scale: 1.2; }
          body .container .card .card-body #controls .btn #replay-icon:hover {
            animation: turn 0.2s forwards ease;
            color: #e94560; }
          body .container .card .card-body #controls .btn #next-icon:hover,
          body .container .card .card-body #controls .btn #prev-icon:hover {
            color: #00478f;
            scale: 1.2; }
      body .container .card .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .container .card .card-footer #toggle-btn {
          background-color: #16213e;
          color: #eee; }
          body .container .card .card-footer #toggle-btn:hover {
            background-color: #00478f !important; }
        body .container .card .card-footer .volume-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #16213e;
          color: #eee;
          padding: 5px;
          border-radius: 7px; }
          body .container .card .card-footer .volume-container i {
            margin-right: 7px;
            background-color: #16213e;
            color: #eee;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer; }
            body .container .card .card-footer .volume-container i:hover {
              color: #e94560; }
        body .container .card .card-footer #toggle-btn:hover {
          background-color: #e94560; }

#music-list ul li .badge {
  border-bottom: 2px outset #eee;
  color: #eee;
  background-image: linear-gradient(to right, #00478f, #1e3a55, #020000); }

li.playing {
  transition: all 0.5s ease;
  background-image: linear-gradient(to right, #00478f, #31618d, #31618d);
  color: #eee !important; }

.border-bottoms {
  width: 300px;
  height: 3px;
  background-image: linear-gradient(to right, #00478f, #31618d, #020000);
  animation: slide 1s infinite ease; }

@keyframes turn {
  to {
    transform: rotate(360deg); } }

@keyframes slide {
  0% {
    background-image: linear-gradient(to right, #00478f, #31618d, #020000); }
  25% {
    background-image: linear-gradient(to right, #052442, #1b3b58, #0a2946); }
  50% {
    background-image: linear-gradient(to right, #02080f, #194e80, #17446e); }
  75% {
    background-image: linear-gradient(to right, #00478f, #02080f, #163a5c); }
  100% {
    background-image: linear-gradient(to right, #00478f, #31618d, #02080f); } }
